.galeria{
    /*background-color: #ffffff;*/
    padding: 2rem 0; 
}

.galeria__tituloPrincipal{
    padding: 1rem 0;
    font-weight: 700;
    color: #464646;
    font-size: 2.5rem;
    text-align: center;
}
.galeria__encabezado{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.galeria__Titulo{
    padding: 1rem 0;
    font-weight: 700;
    color: #464646;
    font-size: 2.5rem;
}
.galeria__link{
    padding: 1rem 0;
    text-decoration: none;
    color: #2A7AE4;
    font-size: 1.5rem;
    font-weight: 700;
}
.galeria-boton{
    text-decoration: none;
    padding: 1rem 3.5rem;
    color: #ffffff;
    font-weight: 700;
    background-color:#2A7AE4;
    border-style: none;
}
.galeria__link:hover{
    cursor: pointer;
}
.galeria__productos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-flow: row;

    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;*/
    
}
.galeria__productos-lista{
    padding: .5rem .5rem;
    display: flex;
    flex-direction: column;
}
.galeria__productos-img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    max-width: 100%;
    display: block;
}
.fa-regular{
    color: #515050;
    font-size: 2rem;
    font-weight: 700;
}
.galeria__producto-nombre{
    padding: 1rem 0;
    color: #464646;
    font-weight: 400;
    font-size: 1.5rem;
}
.galeria__precio{
    padding:  0  0 1rem 0;
    color: #464646;
    font-weight: 700;
    font-size: 1.5rem;
}
.login__boton{
    max-width: 200px;
    margin: 0;
    text-decoration: none;
    padding: .5rem 1rem;
    color: #ffffff;
    font-weight: 700;
    background-color:#2A7AE4;
    border-style: none;
    font-size: 1.5rem;
}
.galeria__productos-editar{
    text-align: center;
    max-width: 200px;
    margin: .5rem 0;
    text-decoration: none;
    padding: .5rem 1rem;
    color: #ffffff;
    font-weight: 700;
    background-color:#2A7AE4;
    border-style: none;
    font-size: 1.5rem;
}
.login__boton:hover{
    cursor: pointer;
}
.galeria__productos-link{
    text-decoration: none;
    color: #2A7AE4;
    font-size: 1.5rem;
    font-weight: 700;
}
.galeria__productos-link:hover{
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .galeria__productos-container{
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }
    .galeria__encabezado{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) {
    .galeria__productos-container{
        grid-template-columns: repeat(6, 1fr);
        gap: .5rem;
    }

}
